.form {
	padding: 40px;

	&__header {
		margin-top: 0;
		margin-bottom: 12px;

		font-weight: bold;
		font-size: 20px;
		line-height: 1.09;
		text-align: center;
		letter-spacing: 0.03em;
		color: getColor(title-text);
	}

	&__field {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}

	&__label {
		margin-bottom: 4px;
		font-weight: normal;
		font-size: 12px;
		line-height: 1.166;
		letter-spacing: 0.01em;
	}

	&__field--bottom {
		margin-bottom: 20px;
	}

	.button {
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.form__input {
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 42px;
	padding-right: 0;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: getColor(primary-text);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:focus {
		border: 1px solid getColor(accent);
		box-sizing: border-box;
		border-radius: 4px;
		outline: none;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&::placeholder {
		color: rgba(117, 117, 117, 0.5);
	}

	&--left {
		padding-left: 16px;
	}
}

.form__icon {
	position: absolute;
	top: 50%;
	left: 12px;

	.form__input:focus + & {
		fill: getColor(accent);
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.checkbox {
	display: inline-flex;
	margin-bottom: 30px;
	align-items: center;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.03em;

	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	&__accept {
		color: getColor(accent);
	}
}

.checkbox__icon {
	width: 16px;
	height: 15px;
	margin-right: 8px;

	.checkbox__input:checked + & {
		fill: getColor(accent);
		background-image: url(../images/modal/checked.svg);
	}
}
