.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__web {
  color: getColor(accent);
}

&__studio {
  color: #000000;
}

&__studio--footer {
  font-weight: 700;
  color: getColor(white-text);
}
}