.work {
	@media screen and (max-width: 1199px) {
		display: none;
	}
}

.section.work {
	padding-top: 0;
}

.work-list {
	display: flex;

	&__text {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 0;
		padding: 27px 82px;

		font-weight: bold;
		font-size: 14px;
		line-height: 1.1;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: getColor(white-text);
		background-color: rgba(47, 48, 58, 0.8);
	}
}

.work-list__item {
	position: relative;
	flex-basis: calc((100% - 2 * 30px) / 3);

	&:not(:last-child) {
		margin-right: 30px;
	}
}
